.snoop {
width: 20px; 
height: 60px;  
border-radius: 50px; 
position: relative;  
animation: ili 5s infinite;  
} 

@keyframes ili {
	0%   {left: 0px;} 
  30%   {right: 0px;} 
	50%  {left: 400px; background: rgb(40, 82, 196);} 
	75%  {top: 200px;} 
	100% {stroke: 0px; background: rgb(199, 167, 51);} 
	} 
